@model ReportCatalog.Web.Models.SubCategoryViewModel

@{
    ViewData["Title"] = "New Sub-Category";
    ViewData["PageTitle"] = "New Sub-Category";
    ViewData["Location"] = "New Sub-Category";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Category name</label>
                <select asp-for="CategoryId" asp-items="ViewBag.Category" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

